apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: ${gateway_name}
  namespace: istio-system
spec:
  selector:
    app: istio-ingressgateway
    istio: ingressgateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "*.vultr.${domain_name}"
      tls:
        httpsRedirect: true
    - port:
        number: 443
        name: https
        protocol: HTTPS
      hosts:
        - "*.vultr.${domain_name}"
      tls:
        mode: SIMPLE
        credentialName: ${secret_name}
